.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 360px;
  margin: 0 auto;
  border: solid 2px rgb(43, 40, 40);
  box-shadow: inset 0 0 10px 10px rgba(43, 40, 40, 0.1),
    0 0 6px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(245, 245, 245);
  font-size: 20px;
  transition: transform 0.1s, box-shadow 0.1s;
  /* &:hover {
    box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.2),
      inset 0 0 6px 6px rgba(43, 40, 40, 0.1);
  } */
  &:active {
    transform: translateY(4px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
      inset 0 0 10px 10px rgba(43, 40, 40, 0.1);
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.img {
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: black;
}
.p_name {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}
.p {
  color: gray;
}

.list {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  border-top: solid 2px dimgray;
  background-color: lightgray;
  box-shadow: inset 0 0 2px 2px rgba(43, 40, 40, 0.1);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 10px 0;
  border-right: solid 2px dimgrey;
  box-shadow: inset 0 0 2px 2px rgba(43, 40, 40, 0.1);
}

.item:last-child {
  border-right: none;
}

.item:first-child {
  border-left: none;
}
.span_style {
  font-weight: bold;
}
