/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.box {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;
  padding: 60px;
}
input {
  width: 200px;
  height: 30px;
  margin: 5px;
  padding: 5px;
}

select {
  width: 200px;
  height: 30px;
  margin: 5px;
  padding: 5px;
}

button {
  display: inline-block;
  width: 300px;
  margin: 5px;
  padding: 5px;
  font-weight: 500;
  background-color: rgb(25, 107, 43);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: blue;
}

.wasteArea {
  font-size: 20px;
  font-weight: 600;
  color: blue;
}
/* .detailCostWithWaste {
  font-size: 20px;
  font-weight: 600;
  color: green;
} */
